@import url(./variables.css);

* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: var(--home-background);
}
#root {
  display: flex;
}

/*Sidebar Styles*/
.side {
  width: var(--sidebar-width);
}
.main {
  width: 95.5%;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: var(--sidebar-width);
  background: var(--sidebar-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--box-shadow);
}
.sidebar i {
  font-size: 2.5em;
  cursor: pointer;
  transition: text-shadow 0.3s ease;
}
.sidebar i:hover{
    text-shadow: 2px 3px 4px #210612;
}
.sidebar .sidebar-top {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar .sidebar-bot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;
}
.sidebar-bot i {
  margin-top: 10px;
}

.sidebar .sidebar-top .bi-list{
    font-size: 3em !important;
}



/*Home Styles*/

.home .home-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: aliceblue;
    font-size:1.4em;
    padding: 10px 0;
    flex-wrap: wrap;
}
.home-nav>div {
    margin: 0 15px;
    padding: 2px 5px;
}
.search input{
  outline: none;
    border: none;
    padding: 0 24px;
    text-align: center;
    background: #09143c;
    font-family: 'lexend';
    border-radius: 3px;
    width: 260px;
    height: 39px;
    color:var(--placeholder-color);
    transition: 0.3s;
    
}
.search input:hover{
  /* border: 3px solid #196365; */
}
.search input::placeholder{
  color:var(--placeholder-color)
}